* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-div {
  width: 100%;
  height: 100vh;
}
.nav-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  box-shadow: 1px 4px 10px lightslategrey;
}
.menu {
  margin: 50px;
}
.main-div-ul {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-weight: 400;
}
li.main-div-li {
  list-style: none;
}

/* user details */
.user-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}
.btn-class {
  display: flex;
  flex-direction: row;
  margin: 15px;
}

/* display users */
.display-data {
  display: flex;
  flex-direction: column;
}
li {
  list-style: none;
  margin: 15px;
  font-size: 18px;
  font-weight: 400;
}
.add-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  flex-wrap: wrap;
}

/* media query */
@media screen and (max-width: 900px) {
  .nav-div {
    height: 15%;
  }
  /* .title{
    font-size: 10px;
    font-weight: 300;
  } */
}
@media screen and (max-width: 886px) {
  .title {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
  }
}
@media screen and (max-width: 776px) {
  .nav-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    box-shadow: 1px 4px 10px lightslategrey;
  }
}

@media screen and (max-width: 554px) {
  .nav-div {
    width: 100%;
  }
}
